body,
html {
    min-height:100%;
}

body {
  background: image_url('safi.png');
  background-size:cover

}

.about {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  color: white;
  font-size: 100px;
}

.navbar-brand {
color: #ffffff;
font-weight: bold;
font-family: 'quicksandbold_italic', sans-serif;
font-size:25px;
margin-left: auto

}

a {
   text-decoration: none;
}

 





